[defaults]
inventory = /mnt/c/Users/MSI/Documents/Security-Project/tasks/inventory.ini
remote_tmp = /tmp/.ansible-${USER}
host_key_checking = False
retry_files_enabled = False
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True
